
# For backup
bkp_directory='backup'      # Folder to store backup files locally
data_dir_path='/var/www/html/'      # Make sure your all data is in 'gitea' folder and it is not mentioned in this path
virtual_env_dir='/var/www/html/venv'        # Define python virtual env dir for backup
mega_email=''       # mega email
mega_password=''        # mega password
mega_folder='gitea_backups'     # Folder in which script will upload backup, It should exists on mega else script will error out.