DB_HOST='localhost'
DB_USER='root'
DB_PASS=''
BACKUP_DIR='sqlbackups'
virtual_env_dir='/var/www/html/venv'        # Define python virtual env dir for backup
mega_email=''       # mega email
mega_password=''        # mega password
mega_folder='sqlbackups'     # Folder in which script will upload backup, It should exists on mega else script will error out.
