[database]
dbpass=Sql  # Docker db password

[backup]
bkp_directory=backup              # Folder to store backup files locally
data_dir_path=/var/www/html/      # Ensure all data is in 'bookstack' folder
virtual_env_dir=/var/www/html/venv      # Define Python virtual env dir for backup

[mega]
mega_email=      # Mega email
mega_password=          # Mega password
mega_folder=backups           # Mega folder

[aws]
aws_access_key_id=0
aws_secret_access_key=WE
region_name=ap
endpoint_url=
bucket_name=

[settings]
data_dir_path=/var/www/html/
bkp_directory=backup

[restore]
base_dir=/var/www/html
rst_directory=bookstack
oldUrl=http://old-url.com
newUrl=http://localhost:8080
