dbpass=''        # Docker db password
# For backup
bkp_directory='backup'      # Folder to store backup files locally
data_dir_path='/var/www/html/'      # Make sure your all data is in 'bookstack' folder and it is not mentioned in this path
virtual_env_dir='/var/www/html/venv'        # Define python virtual env dir for backup
mega_email=''       # mega email
mega_password=''        # mega password
mega_folder='bookstack_backups'     # Folder in which script will upload backup, It should exists on mega else script will error out.

# For restore
base_dir='/var/www/html'
rst_directory="bookstack"      # Folder to restore files
oldUrl=''       # Previous url
newUrl='http://localhost:8080'       # Current url